@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Lora", serif;
  }
}

#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.font-lexend {
  font-family: "Lexend", sans-serif;
}

.font-chonburi {
  font-family: "Chonburi", serif;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-gradient-one {
  background-image: linear-gradient(to bottom, #4561db 0%, #253475 100%);
}

.button-gradient-two {
  background-image: linear-gradient(to bottom, #ffffff 0%, #c9d1f7 100%);
}

.text-10px {
  font-size: 10px;
}

.width-12-percent {
  width: 12%;
}

.width-7-percent {
  width: 7%;
}

.width-5-percent {
  width: 5%;
}

.width-88px {
  width: 88px;
}

.test {
  border: 1px solid red;
}
